@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    /* Colors */

    /* Primary */

--Pink: hsl(322, 100%, 66%);

    /* Neutral */

--Very-Pale-Cyan: hsl(193, 100%, 96%);
--Very-Dark-Cyan: hsl(192, 100%, 9%);
--Grayish-Blue: hsl(208, 11%, 55%);

    /* Fonts */

--Font-size: 18px;
--Font-Family1: 'Poppins', sans-serif;
--Font-Weight-meduim: 600;


--Font-Family2: 'Open Sans', sans-serif;
--Font-Weight-light: 400;
--Font-Weight-bold: 700;

}

body{    
    width: 100%;
    max-height: 100vh;
    font-size: var(--Font-size);
    background-color:#fff ;
    font-family: var(--Font-Family2);
    font-weight: var(--Font-Weight-light);
    
    & > section:nth-child(1){
        background-image: url('./images/bg-hero-desktop.svg');
        background-color: var(--Very-Pale-Cyan);
        padding:4rem;
        margin-bottom: 5rem;
        & > nav{
            display: flex;
            justify-content: space-between ;
            margin-bottom: 2.5rem;

            & button{
                padding: 10px 65px;
                font-family: var(--Font-Family1);
                font-size: var(--Font-size);
                border: none;
                cursor: pointer;
                border-radius: 25px;
                color: var(--Very-Dark-Cyan);
                background-color:white;
                box-shadow:2px 2px 2px 1px rgba(0, 0, 0, 0.2);
                &:hover{
                    opacity: .7;
                }
            }
        }

        & > div{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 3rem;
            & div{
                & h1{
                    font-size:2.7rem;
                    line-height: 1.3;
                    width: 90%;
                    margin-bottom: 2rem;
                    color: var(--Very-Dark-Cyan);
                }
                & p{
                    width: 92%;
                    line-height: 1.4;
                    color: var(--Very-Dark-Cyan);
                    margin-bottom: 2rem;
                }
                & button{
                    padding: 15px 50px;
                    font-family: var(--Font-Family1);
                    font-size:15px;
                    border: none;
                    cursor: pointer;
                    border-radius: 35px;
                    color: white;
                    background-color:var(--Pink);
                    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.1);

                    &:hover{
                        opacity: .7;
                    }
                }
            }
           
        }
    }

    & > section:nth-child(2), & > section:nth-child(3) , & > section:nth-child(4){
        padding: 2rem 4rem;
        & > div{
            padding:2rem;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 5rem;
            box-shadow:5px 5px 5px 5px rgba(0, 0, 0, 0.1);

            & div{
                margin-left: 4rem;
                    & p{
                        color: var(--Grayish-Blue);
                        line-height: 1.4;
                        width: 90%;
                    }

                   & h2{
                        color: var(--Very-Dark-Cyan);
                        font-size: 2.3rem;
                        margin-bottom: 1.2rem;
                        font-family: var(--Font-Family2);
                    }
            }
        }
    }
    
    & > section:nth-child(3){
        & div{
            padding-right: 10px;
            & div{
                width: 100%;
                & p{
                    width: 100%;
                }
            }
        }
    }

    & > div{
        position: absolute;
        transform: translate(-50%-50%);
        background-color: #fff;
        margin-top: 5rem;
        left: 30%;
        z-index: 3;
        padding:2.5rem ;
        border-radius: 10px;
        text-align: center;
        box-shadow:2px 2px 5px 3px rgba(0, 0, 0, 0.1);
        & h2{
            margin-bottom: 1.2rem;
        }
        & button{
            padding: 15px 50px;
            font-family: var(--Font-Family1);
            font-size:15px;
            border: none;
            cursor: pointer;
            border-radius: 35px;
            color: white;
            background-color:var(--Pink);
            box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.1);

            &:hover{
                opacity: .7;
            }
        }
    }

    & > footer{
        position: relative;
        margin-top: 13rem;
        padding:5.5rem;
        background-color: var(--Very-Dark-Cyan);

        & .footer{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        &  div:nth-child(1){
            & div{
                display: flex;
                gap: 25px;
                align-items: flex-start;
                margin: 1.2rem 0;
                & p{
                    color: white;
                }
            }
        }
        
        & > div:nth-child(2){
            margin-left: 5rem;
            display: flex;
            gap: 5rem;
            &  .first ,& .second{
                padding: 10px;
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
            & > p a{
            text-decoration: none;
            color: white;
            cursor: pointer;
            &:hover{
                text-decoration: underline;
            }
            }
            }
        }

        & > div:nth-child(3) {
            margin-left: 5rem;
            display:flex;
            flex-direction:column ;
            justify-content: space-between;
            margin-top: 10px;
                & a i{
                    color: #fff;
                    border: 1px solid #fff;
                    border-radius: 50%;
                    padding: 5px;
                    font-size: 1.2rem;
                    margin-left: 10px;
                    &:hover{
                        color:var(--Pink);
                        border: 1px solid var(--Pink);
                    }
                }
                
            
            & p{
                font-size: 14px;
                color: white;
            }

    }
}
}
}


@media (max-width:650px) {
    body{
        

    }
}